.bg-A3E8BF{
    background-color:  $color-A3E8BF;
}
.bg-BA9EDE1A{
    background-color:  $color-BA9EDE1A;
}
.bg-2E3038{
    background-color:  $color-2E3038;
}
.bg-666666{
    background-color:  $color-666666;
}
.bg-FCA5A5CC{
    background-color:  $color-FCA5A5CC;
}
.bg-BA9EDE{
    background-color: $color-BA9EDE;
}
.bg-2E30381A{
    background-color: $color-2E30381A;
}
.bg-E7DEF3{
    background-color: $color-E7DEF3;
}
.bg-FAFAFA{
    background-color: $color-FAFAFA;
}


.text-A3E8BF{
    color:  $color-A3E8BF;
}
.text-BA9EDE1A{
    color:  $color-BA9EDE1A;
}
.text-2E3038{
    color:  $color-2E3038;
}
.text-666666{
    color:  $color-666666;
}
.text-FCA5A5CC{
    color:  $color-FCA5A5CC;
}
.text-BA9EDE{
    color: $color-BA9EDE;
}
.text-2E30381A {
    color: $color-2E30381A;
}
.text-4B5563 {
    color: $color-4B5563;
}
.text-9CA3AF{
    color: $color-9CA3AF;
}
.text-D1D5DB{
    color: $color-D1D5DB;
}
.text-6B7280{
    color: $color-6B7280;
} 

.font12{
    font-size: $font12;
}
.font13{
    font-size: $font13;
}
.font14{
    font-size: $font14;
}
.font16{
    font-size: $font16;
}
.font18{
    font-size: $font18;
}
.font20{
    font-size: $font20;
}
.font24{
    font-size: $font24;
}
.font26{
    font-size: $font26;
}
.font28{
    font-size: $font28;
}
.font30{
    font-size: $font30;
}
.font36{
    font-size: $font36;
}
.font48{
    font-size: $font48;
}
.font60{
    font-size: $font60;
}
.font62{
    font-size: $font62;
}
.font72{
    font-size: $font72;
}


.leading16{
    line-height: $leading16;
}
.leading20{
    line-height: $leading20;
}
.leading24{
    line-height: $leading24;
}
.leading26{
    line-height: $leading26;
}
.leading24{
    line-height: $leading24;
}
.leading30{
    line-height: $leading30;
}
.Leading36{
    line-height: $leading36;
}
.leading23{
    line-height: $leading23;
}
.leading28{
    line-height: $leading28;
}
.leading32{
    line-height: $leading32;
}
.leading33{
    line-height: $leading33;
}
.leading36{
    line-height: $leading36;
}
.leading40{
    line-height: $leading40;
}
.leading48{
    line-height: $leading48;
}
.leading56{
    line-height: $leading56;
}
.leading60{
    line-height: $leading60;
}
.leading65{
    line-height: $leading65;
}
.leading72{
    line-height: $leading72;
}


.space1_2{
    letter-spacing:  $space1_2;
}
.space-1_2{
    letter-spacing:  $space-1_2;
}
.space0_6{
    letter-spacing:  $space0_6;
}
.space1_4{ 
    letter-spacing: $space1_4;
}
.space1_8{ 
    letter-spacing: $space1_8;
}
.space0_35{
    letter-spacing: $space0_35;
}
.space-1_8{
    letter-spacing: $space-1_8;
}
.space1{
    letter-spacing:  $space1;
}
.space-0_75{
    letter-spacing: $space-0_75;
}
.space-1_5{
    letter-spacing:  $space-1_5;
}
.space-0_9{
    letter-spacing:  $space-0_9;
}
.space0_3{
    letter-spacing:  $space0_3;
}

.opacity10{
    opacity: $opacity10;
}
.opacity20{
    opacity: $opacity20;
}
.opacity80{
    opacity: $opacity80;
}
.opacity70{
    opacity: $opacity70;
}
.opacity60{
    opacity: $opacity60;
}

.radius16{
    border-radius: $radius16;
}
.radius8{
    border-radius: $radius8;
}
.radius10{
    border-radius: $radius10;
}
.radius24{
    border-radius: $radius24;
}