.prefix {
  height: 27px;
  padding-left: 22px;
  padding-right: 22px;

  &.bg-BA9EDE1A-prefix{
    background-color: rgba($color: $color-BA9EDE1A, $alpha: 0.1);
    color: $color-BA9EDE;
  }

    &.bg-2E30381A-prefix{
     background-color: rgba($color: $color-2E30381A, $alpha: 0.1);
    color: $color-2E3038;
  }
}




