.prefix {
  height: 27px;
  padding-left: 22px;
  padding-right: 22px;

  &.bg-BA9EDE1A-prefix{
    background-color: rgba($color: $color-BA9EDE1A, $alpha: 0.1);
    color: $color-BA9EDE;
  }

  // &.bg-2E30381A-prefix{
  //    background-color: rgba($color: , $alpha: 0.1);
  //   color: $color-2E3038;
  // }
    &.bg-2E30381A-prefix{
     background-color: rgba($color: $color-2E30381A, $alpha: 0.1);
    color: $color-2E3038;
  }
}

.news-left-right-card{
  box-shadow: 0px 0px 15px rgba($color: $color-2E30381A, $alpha: 0.1);
}
.left-news-img{
  height: 480px;
}


.news-card-section{
  .latest-card{
    box-shadow: 0px 0px 9px rgba($color: $color-2E30381A, $alpha: 0.1);
  } 
}