.OKO-story-section {
  .story-bg-layer {
    background: linear-gradient(45deg,rgba(46, 48, 56, 1) 0%, rgba(187, 160, 222, 1) 100%);
  }
}

.mission-visin-section {
  .mission-bg {
    width: 64px;
    height: 64px;

    .mission-img {
      height: 38px;
    }
  }
}

.leadership-section {
  .leader-img {
    height: 373px;
  }
}
