.news-insights{
    .news-left-right-card{
        box-shadow: 0px 0px 15px rgba($color: $color-2E30381A, $alpha: 0.1);
    }
    .left-news-img{
        height: 480px;
    }
}

.news-card-section{
  .latest-card{
    box-shadow: 0px 0px 9px rgba($color: $color-2E30381A, $alpha: 0.1);
  } 
}